html, body{
  padding:0;
  margin:0;
  height: 100%;
  overflow: hidden;
  background: #000;
}
body{
  background: #000 url(/images/js-logo.png) no-repeat center center;
  background-size: 200px;
}
iframe{
  width: 100%;
  height: calc(100% - 30px);
  padding-top: 30px;
}
.frameBottomCover{
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.frameBottomCover:after{
  content: "";
  position: fixed;
  bottom: 0;
  height: 30px;
  right:0;
  left:0;
  background: #000;
}

.arrow_box {
	position: absolute;
	background: #fff;
  top: 40px;
  z-index: 101;
  min-width: 100px;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  transform: translateX(-50%);
  left: 50%;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(148, 148, 148, 0);
	border-top-color: #949494;
	border-width: 16px;
	margin-left: -16px;
}