html, body{
  padding:0;
  margin:0;
  height: 100%;
  overflow: hidden;
  background: #000;
}
iframe{
  display: block;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.preferedPageInput{
  width: 60px;
}
.class-room-controlls{
  text-align: center;
  text-align: center;
  background: #FFF;
  padding: 20px 0;
}
.pagination-wrapper{
  max-width: 760px;
  margin: 0 auto;
}