<!DOCTYPE html>
<html>
  <head>
  <title>Proiector | Javascript</title>
  <link rel="stylesheet" type="text/css" href="/css/classroom-projector.css"/>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var slidesLength = {{slidesLength}};
  </script>
  <script type="text/javascript" src="/js/projector.js"></script>
</head>
<body>
  <div id="controlls" class="class-room-controlls hidden">
    <div class="pagination-wrapper clearfix">
      <div class="float-right">
        <button id="btnPrevious">Previous</button>
        <label id="pageNo"></label>
        <button id="btnNext">Next</button>
      </div>
      <div class="float-left">
        <input type="number" class="preferedPageInput" id="pageNumber" value="1"/>
        <button id="gotoPage">Display Page</button>
      </div>
    </div>
    <hr>
    <input type="text" name="message" id="message">
    <button id="sendmessage">Send</button>
  </div>
  <iframe src="{{projectUrl}}" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>  
</body>
</html>
