<!DOCTYPE html>
<html>
  <head>
  <title>Javascript</title>
  <link rel="stylesheet" type="text/css" href="/css/classroom.css"/>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var slidesURl = "{{{googleSlidesUrl}}}"
  </script>
  <script type="text/javascript" src="/js/screen.js"></script>
</head>
<body>
  <div class="frameBottomCover"></div>
  <iframe src="" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>  
  <div class="arrow_box" id="messagebox" style="display: none;"></div>
</body>
</html>